*~
\#*#
.#*
*.o
*.pyc
*.gcov
*.gcda
*.gcno
*.exe

/.deps/
/.dirstamp
*/.deps/
*/.dirstamp
*/*/.deps/
*/*/.dirstamp

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/Makefile
/Makefile.in
/stamp-*
/config-aux/depcomp
/config-aux/install-sh
/config-aux/missing
/config-aux/compile
/config-aux/config.guess
/config-aux/config.sub

/cov-int/

/pgen_pcap
/pgen_fake
/protolist.cc
/steglist.cc
/unitgrplist.cc

/libstegotorus.a
/stegotorus
/tltester
/unittests

/build/
/build-*/
/bench/
/bench-*/

/debian/files
/debian/saferdefiance-stegotorus.debhelper.log
/debian/saferdefiance-stegotorus.substvars
/debian/saferdefiance-stegotorus/
/debian/saferdefiance-stegotorus.postinst.debhelper
/debian/saferdefiance-stegotorus.postrm.debhelper
/debian/saferdefiance-stegotorus.prerm.debhelper
debian/saferdefiance-stegotorus-dbg.debhelper.log
debian/saferdefiance-stegotorus-dbg.substvars
debian/saferdefiance-stegotorus-dbg/

/debian/autoreconf.after
/debian/autoreconf.before

# Traces directory (typically symlinked to the steg-traces git repo)
traces

